// colors
$primary: #fff;
$secondary: #faff00;
$bg: #344265;
$light: #5f719f;
$light2: #485982;
$white: #f8f8f8;

// fonts
$main-font: 'Plus Jakarta Sans', sans-serif;
$main-font-weight: 500;

//  animation
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
