<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div>
        <a class="header__logo footer__logo" href="/">
          <img
            src="images/Logo.svg"
            alt="Alpha Appliance Repair"
            height="40px"
            width="208px"
        /></a>
        <a href="tel:+12263700170" class="header__phone footer__phone"
          ><img
            src="images/phone.svg"
            alt="Alpha Appliance Repair"
            height="18px"
            width="18px"
          />
          <p>+1 226-370-0170</p></a
        >
        <a
          class="footer__adress"
          target="_blank"
          rel="noopener nofollow noreferrer"
          href="http://maps.google.com/?q=Unit 4, 5267 Explorer drive, Toronto, On L4W 4T7"
        >
          Unit 4, 5267 Explorer drive,<br />
          Toronto, On L4W 4T7
        </a>
        <a href="mailto:info@appliancerepairexpert.ca" class="footer__email"
          >info@appliancerepairexpert.ca</a
        >
        <button class="header__action footer__action" type="button">
          <img
            src="images/Settings.svg"
            alt="Alpha Appliance Repair"
            height="18px"
            width="18px"
          />BOOK ONLINE
        </button>
        <p class="footer__reserved">All rights reserved © 2005-2021</p>
      </div>
      <div class="footer__big-wrapper">
        <div class="footer__about">
          <div>
            <h3 class="footer__about-title">ABOUT COMPANY</h3>
            <ul class="footer__about-text-list">
              <li>
                <a href="#" class="footer__about-text">Maintance Plans</a>
              </li>
              <li><a href="#" class="footer__about-text">Coupons</a></li>
              <li><a href="#" class="footer__about-text">Review</a></li>
              <li><a href="#" class="footer__about-text">FAQ</a></li>
              <li><a href="#" class="footer__about-text">Blog</a></li>
              <li><a href="#" class="footer__about-text">Contact</a></li>
            </ul>
          </div>
          <div>
            <h3 class="footer__about-title">CUSTOMER SERVICES</h3>
            <ul class="footer__about-text-list">
              <li><a href="#" class="footer__about-text">Residential</a></li>
              <li><a href="#" class="footer__about-text">Commercial</a></li>
              <li><a href="#" class="footer__about-text">Repair</a></li>
              <li><a href="#" class="footer__about-text">Installation</a></li>
            </ul>
          </div>
          <div>
            <h3 class="footer__about-title">HELP AND SUPPORT</h3>
            <ul class="footer__about-text-list">
              <li>
                <a href="#" class="footer__about-text"
                  >Appliance Repair Warranty</a
                >
              </li>
              <li>
                <a href="#" class="footer__about-text">Cancellation Policy</a>
              </li>
              <li><a href="#" class="footer__about-text">Privacy Policy</a></li>
              <li><a href="#" class="footer__about-text">Careers</a></li>
            </ul>
          </div>
        </div>
        <div>
          <ul class="footer__social">
            <li class="footer__social-item">
              <img
                src="images/youtube.svg"
                alt="Alpha Appliance Repair"
                height="18px"
                width="18px"
              /><a href="#" class="footer__social-link"></a>
            </li>
            <li class="footer__social-item">
              <img
                src="images/facebook.svg"
                alt="Alpha Appliance Repair"
                height="18px"
                width="18px"
              /><a href="#" class="footer__social-link"></a>
            </li>
            <li class="footer__social-item">
              <img
                src="images/pinterest.svg"
                alt="Alpha Appliance Repair"
                height="18px"
                width="18px"
              /><a href="#" class="footer__social-link"></a>
            </li>
            <li class="footer__social-item">
              <img
                src="images/instagram.svg"
                alt="Alpha Appliance Repair"
                height="18px"
                width="18px"
              /><a href="#" class="footer__social-link"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
