<header class="header">
  <div class="container">
    <div class="header__top-wrapper">
      <a class="header__logo" href="/">
        <img
          src="images/Logo.svg"
          alt="Alpha Appliance Repair"
          height="30px"
          width="160px"
      /></a>
      <form>
        <input
          type="text"
          class="header__city-search"
          placeholder="Enter City / Postal Code"
        />
      </form>
      <a href="tel:+12263700170" class="header__phone"
        ><img
          src="images/phone.svg"
          alt="Alpha Appliance Repair"
          height="18xp"
          width="18px"
        />
        <span>+1 226-370-0170</span></a
      >
    </div>
    <div class="header__nav-wrapper">
      <nav class="header__nav">
        <ul class="header__links">
          <li><a href="#">Appliance Service</a></li>
          <li><a href="#">Brands</a></li>
          <li><a href="#">Maintance Plans</a></li>
          <li><a href="#">Coupons</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <button class="header__action" type="button">
        <img
          src="images/Settings.svg"
          alt="Alpha Appliance Repair"
          height="18xp"
          width="18px"
        />BOOK ONLINE
      </button>
    </div>
  </div>
</header>
