<div class="hero">
  <div class="container">
    <img
      src="images/hero.png"
      alt="Alpha Appliance Repair"
      height="418xp"
      width="610px"
      class="hero__image"
    />
    <h1 class="hero__title">Appliance Repair Service</h1>
    <h2 class="hero__subtitle">Your Local Appliance Repair Company</h2>
    <ul class="hero__job-list">
      <li><p>Repair of any complexity of all brands of equipment</p></li>
      <li><p>Affordable rates for various appliance repairs</p></li>
      <li><p>Licensed, trained techs with years of experience</p></li>
      <li><p>Same/next-day appointment</p></li>
    </ul>
    <button class="hero__action" type="button">
      <img
        src="images/phone2.svg"
        alt="Alpha Appliance Repair"
        height="18xp"
        width="18px"
      />REQUEST A CALL
    </button>
  </div>
</div>
