.footer {
  background: $bg;
  padding: 59px 0 16px 0;
  color: $white;

  &__logo {
    margin-bottom: 64px;
    display: inline-block;
  }

  &__about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;

    margin-top: 55px;

    font-size: 18px;
    font-weight: 800;
    line-height: calc(24 / 18);
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__about-title {
    font-size: 18px;
    font-weight: 800;
    line-height: calc(24 / 18);
    margin-bottom: 16px;
    color: $primary;
  }
  &__about-text-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__about-text {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(17 / 14);
  }

  &__phone {
    color: $primary;
    margin-bottom: 40px;
  }

  &__adress {
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.32px;

    margin-bottom: 32px;

    transition: $cubic-bezier 300ms;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__email {
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: -0.32px;
    margin-bottom: 46px;
  }

  &__action {
    margin-bottom: 75px;
  }

  &__reserved {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(17 / 14);
  }

  &__big-wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;

    &-item {
      width: 30px;
      height: 30px;
      background: $white;
      border-radius: 50%;

      display: flex;
      justify-content: center;

      position: relative;
    }

    &-link {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;
    }
  }
}
