.hero {
  position: relative;
  color: $bg;

  padding: 48px 0 110px 0;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 800;
    line-height: calc(48 / 40);
  }

  &__subtitle {
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 600;
    line-height: calc(24 / 20);
    letter-spacing: -0.6px;
    color: $light2;
  }

  &__job-list {
    display: grid;
    gap: 20px;
    margin-bottom: 40px;

    & > li {
      position: relative;
      font-size: 16px;
      line-height: calc(19 / 16);
      letter-spacing: -0.32px;
      &::before {
        height: 18px;
        width: 18px;
        position: absolute;
        content: '';
        background: $primary url('../images/check-mark.png') no-repeat;
      }
      > p {
        color: $light;
        padding-left: 27px;
      }
    }
  }

  &__action {
    background: $light2;
    color: $primary;
    gap: 9px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: calc(26 / 16);
    letter-spacing: -0.5px;
    padding: 9px 22px;
    border-radius: 12px;

    transition: $cubic-bezier 300ms;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
